body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*ESTILOS HEADER*/
.header {
    background: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)), url("../Img/manzanas.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0px 10px;
    padding-top: 30px;
    height: 100vh;
}
.nav {
    position: relative;
}
.nav__div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__search {
    color: white;
    margin-right: 15px;
}
.nav__search:hover {
    color: #519259;
    transition: all .4s;
}
.nav__shopping-cart {
    display: none;
}
.btn-menu {
    background-color: #519259;
    border: none;
    outline: none;
}
.fa-bars {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 22px;
    font-size: 19px;
}
.menu {
    display: none;
    position: absolute;
    top: 80%;
    width: 100%;
    padding: 0;
    background-color: #011527;
    list-style-type: none;
}
.menu__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    padding-left: 10px;
    border-bottom: 1px solid #FAEDF0;
    text-transform: uppercase;
}
.menu__item--modified{
    padding: 0;
}
.menu__item--modified-shopping-cart {
    border-bottom: none;
}
.li__div-a {
    padding: 10px 0px;
    padding-left: 10px;
}
.menu__img {
    width: 100px;
    height: 50px;
}
.menu__div1-a, .menu__div2-a {
    color: white;
    text-decoration: none;
}
.menu__item-div-a {

}
.menu__item-button {
    width: 40px;
    background-color: #0d375c;
    border: 1px solid #FAEDF0;
}
.fa-plus {
    color: white;
}
.menu__div2 {
    
}

.header-div {
    margin-top: 100px;
    text-align: center;
    color: white;
}
.header-div__p {
    color: #519259;
    letter-spacing: 8px;
    font-size: 14px;
    font-weight: 600;
}
.header-div__h1 {

}
.header-div__div-container-link {

}
.header-div__a {
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #519259;
    text-decoration: none;
    color: white;
    border-radius: 50px;
}
.header-div__a:hover {
    background-color: #011527;
    color: #519259;
    transition: .3s;
}
.header-div__a--modified {
    border: 2px solid #519259;
    background-color: inherit;
}
.header-div__a--modified:hover {
    color: white;
    background-color: #519259;
    transition: .3s;
}

/*ESTILOS FOOTER*/
.footer {
    padding: 50px 0px;
    color: white;
    background-color: #011527;
}
.container-flex-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-flex-items__item1, .container-flex-items__item2, .container-flex-items__item3, .container-flex-items__item4 {
    width: 100%;
    padding: 0px 20px;
}
.container-flex-items__h3 {
    position: relative;
    padding-bottom: 20px;
    font-weight: 300;
}
.container-flex-items__h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    border: 1px solid #519259;
}
.container-flex-items__p {
    color: #adadad;
    font-size: 14px;
    line-height: 25px;
}
.container-flex-items__item3 {

}
.container-flex-items__item3 .ul-pages-a {
    padding: 0;
    list-style-type: none;
}
.container-flex-items__item3 .ul-pages-a__li {
    height: 25px;
    margin-bottom: 10px;
}
.container-flex-items__item3-a {
    display: block;
    color: #adadad;
    text-decoration: none;
}
.container-flex-items__item3-a:hover {
    color: #519259;
    transition: all .4s;
}
.fa-chevron-right {
    padding-right: 10px;
    color: #519259;
    font-size: 12px;
}
.container-flex-items__item4 {
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.container-flex-items__input {
    height: 60px;
    width: 70%;
    padding: 0px 15px;
    background-color: #0d375c;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    caret-color: white;
    font-size: 16px;
}
.container-flex-items__input:focus {
    outline: 1px solid white;
    outline-offset: 2px;
}
.container-flex-items__form-button {
    height: 60px;
    width: 60px;
    background-color: #0d375c;
    border: none;
    border-radius: 5px;
}
.container-flex-items__form-button:hover {
    background-color: #519259;
    transition: all .4s;
}
.fa-paper-plane {
    color: #519259;
}
.container-flex-items__form-button:hover .fa-paper-plane {
    color: #0d375c;
    transition: all .4s;
}
.div-social {
    padding: 0px 20px;
}
.div-social__ul {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.div-social__li {

}
.div-social__a {
    color: #adadad;
}
.div-social__a:hover {
    color: #519259;
    transition: all .4s;
}
.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-linkedin, .fa-dribbble {
    font-size: 20px;
    font-weight: 900;
}

/*ESTILOS SECTION-SERVICE(home.php)*/
.section-service {
    padding: 40px 20px;
    background-color: #eee;
}
.container-service {
    display: flex;
    flex-wrap: wrap;
}
.container-service__div {
    width: 280px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container-service__h3 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
}
.container-service__p {
    margin: 0;
    color: #807e7e;
}
.fa-shipping-fast, .fa-phone-volume, .fa-sync {
    margin-right: 15px;
    padding: 20px;
    color: #519259;
    border: 2px solid #519259;
    border-style: dotted;
    border-radius: 50%;
    font-size: 25px;
}
.fa-phone-volume {
    padding: 20px 25px;
}

/*ESTILOS SECTION OUR-PRODUCTS(home.php)*/
.section-our-products {
    padding: 90px 0px;
    background-color: #f5f5f5;
}
.section-our-products__div {
    width: 340px;
    margin: auto;
    text-align: center;
}
.section-our-products__h2 {
    margin: 0;
    padding-bottom: 15px;
    position: relative;
}
.section-our-products__h2::after {
    content: "";
    width: 45px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #519259;
}
.section-our-products__span {
    color: #519259;
}
.section-our-products__p {
    color: #807e7e;
    line-height: 25px;
}
/*ESTILOS DEAL-MONTH(home.php)*/
.section-deal-month {

}
.section-deal-month__div1 {
    height: 65vh;
    position: relative;
}
.section-deal-month__img {
    height: 100%;
    width: 100%;
}
.offer-poster {
    width: 100px;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: #519259;
    border-radius: 50%;
    outline: 6px solid #78c080;
}
.offer-poster__span {
    font-weight: 700;
    font-size: 24px;
}
.offer-poster__p {
    margin: 0;
    margin-bottom: 10px;
}
.section-deal-month__div2 {
    padding: 80px 20px;
}
.section-deal-month__h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 45px;
    line-height: 35px;
}
.section-deal-month__span-h2 {
    color: #519259;
}
.section-deal-month__subtitle {
    margin: 0;
    text-transform: uppercase;
}
.section-deal-month__p {
    font-size: 15px;
    line-height: 25px;
}
.div-accountant-deal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}
.div-accountant-deal__box {
    width: 82px;
    padding: 10px 0px;
    border: 3px solid #519259;
    text-align: center;
}
.div-accountant-deal__span {
    color: #519259;
    font-size: 25px;
    font-weight: 700;
}
.div-accountant-deal__p {
    margin: 0;
    font-size: 14px;
}
.section-deal-month__button {
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    background-color: #519259;
    color: white;
}
.section-deal-month__button:hover {
    background-color: #011527;
    color: #519259;
    transition: all .4s;
}
.fa-shopping-cart {
    margin-right: 10px;
}

/*ESTILOS SECTION-WE-ARE(home.php)*/
.section-we-are {
    padding: 80px 20px;
}
.section-we-are__div {
    width: 320px;
    margin: auto;
    padding: 20px;
}
.section-we-are__span {
    color: #757272;
}
.section-we-are__h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 900;
}
.section-we-are__h2-span {
    color: #519259;
}
.section-we-are__p {
    line-height: 24px;
}
.section-we-are__button {
    display: inline-block;
    margin-top: 12px;
    padding: 12px 18px;
    background-color: #519259;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}
.section-we-are__button:hover {
    background-color: #011527;
    color: #519259;
    transition: all .4s;
}

/*ESTILOS SECTION-DISCOUNT(home.php)*/
.section-discount {
    padding: 90px 20px;
    background-color: #f1f1f1;
}
.section-discount__div {

}
.section-discount__h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 900;
}
.section-discount__h2-span {
    color: #519259;
}
.section-discount__p {
    display: flex;
    margin: 0;
    margin-bottom: 25px;
    align-items: center;
    font-size: 25px;
}
.section-discount__p-span1 {

}
.section-discount__p-span2 {
    margin: 0px 10px;
    color: #519259;
    font-size: 60px;
    font-weight: 900;
}
.section-discount__p-span3 {
    margin-top: 30px;
}
.section-discount__button {
    padding: 12px 20px;
    border-radius: 35px;
    background-color: #519259;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.section-discount__button:hover {
    background-color: #011527;
    color: #519259;
    transition: all .4s;
}

/*ESTILOS SECTION-OUR-NEWS(home.php)*/
.section-our-news {
    padding: 80px 20px;
    
}
.section-our-news__container {
    width: 320px;
    margin: auto;
    text-align: center;
}
.section-our-news__container > :nth-child(3) {
    
}
.section-our-news__h3 {
    padding-bottom: 15px;
    position: relative;
    font-size: 25px;
}
.section-our-news__h3::after {
    content: "";
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border: 1px solid #519259;
}
.section-our-news__span {
    color: #519259;
}
.section-our-news__p {
    color: #807e7e;
    line-height: 26px;
}
.section-our-news__button {
    padding: 12px 18px;
    border-radius: 30px;
    color: white;
    background-color: #519259;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
.section-our-news__button:hover {
    background-color: #011527;
    color: #519259;
    transition: all .4s;
}

















/*Media Queries*/
@media screen and (min-width: 470px){
    .container-service {
        max-width: 370px;
        margin: auto;
    }
}
@media screen and (min-width: 650px) {
    .container-service {
        max-width: 570px;
        justify-content: space-between;
    }
}
@media screen and (min-width: 764px){
    .header {
        padding: 0px 40px;
        padding-top: 40px;
    }
    .header-div__p {
        font-size: 18px;
    }
    .header-div__h1 {
        font-size: 45px;
    }
    .header-div__div-container-link {
        display: flex;
        justify-content: center;
    }
    .header-div__a {
        width: 150px;
        margin: 0;
    }
    .header-div__a:nth-child(1){
        margin-right: 20px;
    }
    .section-our-products__div {
        width: 600px;
    }
    .section-our-products__h2 {
        font-size: 45px;
    }
}
@media screen and (min-width: 900px) {
    .container-service {
        max-width: 840px;
    }
}
@media screen and (min-width: 990px) {
    .btn-menu {
        display: none;
    }
    .nav__div1 {
        justify-content: space-between;
    }
    .menu {
        display: flex;
        width: 500px;
        position: relative;
        padding: 0;
        background-color: inherit;
        list-style-type: none;
    }
    .menu__div1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu__div1-a--modified-home {
        color: #519259;
    }
    .menu__div2 {
        display: none;
    }
    .menu__item {
        border: none;
    }
    .menu__div1-a, .menu__div2-a {

    }
    .menu__div1-a {
        text-transform: capitalize;
        font-weight: 700;
    }
    .menu__div1-a:hover {
        color: #519259;
        transition: all .4s;
    }
    .nav__shopping-cart {
        display: inline;
        color: white;
        margin-right: 20px;
    }
    .nav__shopping-cart:hover {
        color: #519259;
        transition: all .4s;
    }
    .menu__div2-a:hover {
        color: #519259;
        transition: all .4s;
    }
    .menu__item-div-a {
    
    }
    .menu__item-button {
        display: none;
    }
}
@media screen and (min-width: 1140px) {
    .container-service {
        max-width: 1000px;
    }
}
@media screen and (min-width: 1200px) {
    .header-div {
        margin-top: 40px;
    }
    .header-div__h1 {
        width: 700px;
        margin: auto;
        margin-bottom: 30px;
        font-size: 75px;
    }
}














/*ESTILOS JAVASCRIPT*/
.mostrar-menu {
    display: block;
}